<div class="banner">
  <div class="container col-6 bg-light p-5 rounded-pill text-center" style="--bs-bg-opacity: .9;">
    <h1> Mascot BnB  </h1>
    <h3> Rent the most <strong>original</strong> mascot costumes !</h3>
    <%= link_to "See all the costumes", costumes_path, class: "btn btn-gradient" %>
  </div>
</div>
