<div class="banner">
  <div class="container">
    <h1> Find or rent here the most <strong>original</strong> mascot Costumes!</h1>
    <p>Have fun</p>
    <a class="btn btn-gradient" href="#">See all the mascot costumes</a>
  </div>
</div>
