<div class="banner">
  <div class="container">
    <h1> Find or rent here the most <strong>original</strong> mascot Costumes!</h1>
    <p>Have fun</p>
    <%= link_to "See all the mascot costumes", costumes_path, class: "btn btn-gradient" %>
  </div>
</div>
