  <div class="banner">
    <div class=" text-center d-flex justify-content-center align-items-center">
      <div class="p-2">
        <%= image_tag "colors.jpg", class:" radius border border-light" %>
      </div>
      <div class="color-frame d-flex flex-column justify-content-around p-2">
        <div class="d-flex flex-column justify-content-center">
          <h1> Mascot BnB  </h1>
          <h3> Rent the most <strong>original</strong> mascot costumes !</h3>
        </div>
        <%= link_to "Find your costume", costumes_path, class: "btn btn-gradient p-3" %>
      </div>
      <div class="p-2">
        <%= image_tag "colors green.jpg", class:"radius border border-light " %>
      </div>
    </div>
  </div>
