 <%= render "banner" %>
<div class="container ">
  <div class="row">
  <h2>New arrivals</h2>
    <div class="costumes-index-card-container">
      <% @costumes.last(4).each do |costume| %>
      <%= render "costumes/card", costume: costume %>
      <% end %>
      </div>
  </div>
</div>
