<div class="container">
  <div class="row">
    <div class="mt-6">
      <h1>See all the costumes</h1>
      <div class="cards my-5">
        <% @costumes.each do |costume| %>
          <div class="card-trip p-3">
            <div class="mb-3 text-center">
              <h1><%= link_to costume.name.upcase, costume_path(costume) %></h1>
            </div>
            <% costume.images.take(1).each do |image| %>
            <%= cl_image_tag image.key, :transformation => { :width => 200, :crop => "pad" } %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <p> <%= costume.descr %></p>
              </div>
                <h2 class="card-trip-pricing"><%= costume.price %>$</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
