<div class="container">
  <div class="row">
    <div class="mt-6">
      <h1>See all the costumes</h1>
      <div class="cards my-5">
        <% @costumes.each do |costume| %>
          <div class="card-trip p-3">
            <%= image_tag costume.image, width:200 %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to costume.name, costume_path(costume) %></h2>
                <p> <%= costume.descr %></p>
              </div>
                <h2 class="card-trip-pricing"><%= costume.price %>$</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
