<div class="card-trip">
  <%= image_tag "unicorn.jpeg", alt:"unicorn" %>
  <div class="card-trip-infos">
    <div>
      <h2>Unicorn costume</h2>
      <p> Superb Unicorn Mascot Costume!</p>
    </div>
    <h2 class="card-trip-pricing">$ 30</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
