<h2>Edit a rental:</h2>
<%= simple_form_for [@costume, @reservation] do |r| %>
  <%= r.input :start_date, as: :date %>
  <%= r.input :end_date, as: :date %>
  <%= r.submit "Edit rental", class: "btn btn-primary" %>
<% end %>
