<h2>Change a rental:</h2>
<%= simple_form_for [@costume, @reservation] do |f|, remote: true %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit "Edit rental", class: "btn-orange" %>
<% end %>
