<h1>My Current Rentals:</h1>

<table style="table-layout: fixed; width: 70vw;">
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Action</th>
  </tr>
  <% @reservations.each do |r| %>
    <% if r.user == @user && r.status != "Canceled" %>
      <tr>
        <td><%= link_to r.costume.name, costume_path(r.costume) %></td>
        <td><%= r.start_date %></td>
        <td><%= r.end_date %></td>
        <td><%= link_to "Cancel this reantal?", cancel_reservation_path(r), method: :patch,
                data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  <% end %>
</table>
