.btn-gradient {
  color: $white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px;
  font-weight: light;
  transition: background 0.3s ease;
  background-color:$gray ;
  text-decoration: none;
}

.btn-gradient:hover {
  background-color: slategray;
  color: white;

}

.btn-banner {
  color: white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px;
  background-color:$orange ;
  text-decoration: none;
  font-size: 16px;
}
