.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  height: 25px;
  bottom: 0;
  width: 100%;
  padding: 0px 50px;
  color: $orange (38, 35, 35, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $orange;
  opacity: 0.4;
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-text {
  font-family: $body-font;
  color:$green;
  font-size: 12px;
}
