.form-label {
  color: $gray;
}

.form-control {
  color: $orange;
  background-color: $white;
}


.simple_form {
  border: 3px solid $orange;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: $white;
}
