.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
text-align: center;
font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
max-width: none;
width: 100%;
border: 1px solid lightgrey;
box-shadow: none;
position: absolute;
top: 12px;
right: -4px;
}

.map-index {
position: relative;
height: 420px;
margin-top: -40px;
margin-bottom: 18px;
}


@media (min-height: 100px) and (max-height: 575px) {
.map-index {
  max-height: 200px;
}
}

@media (min-height: 575px) {
.map-index {
  max-height: 300px;
}
}

@media (min-height: 700px) {
.map-index {
  max-height: 420px;
}
}
